In [1]:
import re
import pandas as pd
data = pd.read_csv("data\\titanic.csv", index_col = 'PassengerId')
data[:5]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [3]:
count = data['Survived'].count()
survived = data['Survived'].sum()
survived_procent = survived / count * 100

# Процент выживших
survived_procent

38.383838383838381

In [4]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [5]:
count

891

In [6]:
# Пассажиров 1 класса
216/891*100

24.242424242424242

In [7]:
data['Age'].median()

28.0

In [8]:
data['Age'].mean()

29.69911764705882

In [9]:
data['Sex'].count()

891

In [10]:
len(data.index)

891

In [11]:
# sibsp	# of siblings / spouses aboard the Titanic
# parch	# of parents / children aboard the Titanic

In [12]:
data[:5]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
data.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [14]:
data.SibSp.corr(data.Parch)

0.41483769862015324

In [15]:
data.Parch.corr(data.SibSp)

0.41483769862015313

In [16]:
full_names = data[data.Sex == 'female'].Name

In [17]:
full_names[:5]

PassengerId
2     Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                Heikkinen, Miss. Laina
4          Futrelle, Mrs. Jacques Heath (Lily May Peel)
9     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [18]:
def get_first_name(name):
    
    match1 = re.search(".*\\((.*)\\).*", name)
    if not pd.isnull(match1):
        return match1.group(1).split(" ")[0]
    match2 = re.search(".*\\. ([A-Za-z]*)", name)
    return match2.group(1)

get_first_name('Johnston, Miss. Catherine Helen "Carrie"')

'Catherine'

In [19]:
names = full_names.apply(get_first_name)
names[:5]

PassengerId
2      Florence
3         Laina
4          Lily
9     Elisabeth
10        Adele
Name: Name, dtype: object

In [20]:
names.value_counts()[:5]

Anna         15
Mary         14
Elizabeth    11
Margaret     10
Alice         6
Name: Name, dtype: int64