In [61]:
# 1. Загрузите данные close_prices.csv. 
# В этом файле приведены цены акций 30 компаний на закрытии торгов за каждый день периода.
import pandas as pd
data = pd.read_csv('data\\close_prices.csv')
data[:5]

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [62]:
data = data.drop('date', 1)
data[:5]

,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,HD,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,75.910004,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,76.040001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,75.519997,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,76.070000,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,75.959999,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [63]:
# На загруженных данных обучите преобразование PCA с числом компоненты равным 10. 
import numpy as np
from sklearn.decomposition import PCA
pca = PCA(n_components=10)
pca.fit(data)

PCA(copy=True, iterated_power='auto', n_components=10, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [64]:
# Поле explained_variance_ratio_ содержит процент дисперсии, который объясняет каждая компонента. 
print(pca.explained_variance_ratio_)

[ 0.73897118  0.11007169  0.04995088  0.0287492   0.02215448  0.01931577
  0.00674853  0.00614091  0.00320594  0.00305611]

In [65]:
# Поле components_ содержит информацию о том, какой вклад вносят признаки в компоненты.
print(pca.components_[:1])

[[  1.61383840e-02   1.20644923e-01  -5.16612711e-02   5.04842369e-02
   -1.25859933e-01   1.14089567e-01   2.33906290e-01  -6.20513749e-03
    2.51227032e-01   2.88996029e-01  -2.64998795e-01   9.31320168e-02
    9.13948403e-02   4.69879340e-02   2.90549417e-02  -2.61068828e-02
    3.29615584e-01   7.13897133e-02   7.62295699e-02   2.11888868e-01
    2.30922941e-02   7.77316954e-02  -7.20594590e-03   1.89479745e-01
    3.21564017e-01   5.36834873e-02   5.79683946e-01   1.09122230e-04
    8.71614334e-02  -4.29421420e-02]]

In [66]:
# Скольких компонент хватит, чтобы объяснить 90% дисперсии?
sum = 0
term_count = 0
bound = 0.9
for value in pca.explained_variance_ratio_:
    if sum >= bound:
        break
    sum = sum + value
    term_count += 1
    
print(term_count, sum)

4 0.927742953784

In [67]:
# Примените построенное преобразование к исходным данным и возьмите значения первой компоненты.
result = pd.DataFrame(pca.transform(data))
comp1 = result[0]
comp1[:5]

0   -50.902404
1   -52.846909
2   -54.614439
3   -52.600566
4   -52.370123
Name: 0, dtype: float64

In [68]:
# Загрузите информацию об индексе Доу-Джонса из файла djia_index.csv. 
# Чему равна корреляция Пирсона между первой компонентой и индексом Доу-Джонса?
data2 = pd.read_csv('data\\djia_index.csv')

In [69]:
dji = data2['^DJI']
dji[:5]

0    15401.379883
1    15334.589844
2    15273.259766
3    15328.299805
4    15258.240234
Name: ^DJI, dtype: float64

In [70]:
comp1[:5]

0   -50.902404
1   -52.846909
2   -54.614439
3   -52.600566
4   -52.370123
Name: 0, dtype: float64

In [71]:
from numpy import corrcoef
corr = corrcoef(comp1, dji)
corr

array([[ 1.        ,  0.90965222],
       [ 0.90965222,  1.        ]])

In [97]:
# Какая компания имеет наибольший вес в первой компоненте? Укажите ее название с большой буквы.
comp1_weight = pd.Series(pca.components_[0]).sort_values(ascending=False)
company_index = comp1_weight.head(1).index[0]
company = data.columns[company_index]
company

'V'