In [96]:
# Загрузите обучающую и тестовую выборки из файлов perceptron-train.csv и perceptron-test.csv. 
# Целевая переменная записана в первом столбце, признаки — во втором и третьем.
import pandas as pd
test = pd.read_csv('perceptron-test.csv', header=None)
test[:5]

     0         1            2
0 -1.0  1.651437  1337.453826
1  1.0 -0.866495  1191.232457
2 -1.0  0.789828  -475.647768
3 -1.0  0.179549  1959.095353
4  1.0 -0.434351   568.504207

In [97]:
test_y = test[test.columns[0]]
test_X = test.drop(test.columns[0], 1)
test_X[:5]

          1            2
0  1.651437  1337.453826
1 -0.866495  1191.232457
2  0.789828  -475.647768
3  0.179549  1959.095353
4 -0.434351   568.504207

In [98]:
train = pd.read_csv('perceptron-train.csv', header=None)
train[:5]

     0         1            2
0 -1.0 -0.024626  1174.600238
1  1.0 -0.978058  1083.198803
2 -1.0  0.314272 -1472.977609
3 -1.0  0.179752   231.017267
4  1.0 -1.262544  -778.271726

In [99]:
train_y = train[train.columns[0]]
train_X = train.drop(train.columns[0], 1)
train_X[:5]

          1            2
0 -0.024626  1174.600238
1 -0.978058  1083.198803
2  0.314272 -1472.977609
3  0.179752   231.017267
4 -1.262544  -778.271726

In [100]:
# Обучите персептрон со стандартными параметрами и random_state=241.
from sklearn.linear_model import Perceptron
clf = Perceptron(random_state=241)
clf.fit(train_X, train_y)

Perceptron(alpha=0.0001, class_weight=None, eta0=1.0, fit_intercept=True,
      n_iter=5, n_jobs=1, penalty=None, random_state=241, shuffle=True,
      verbose=0, warm_start=False)

In [101]:
# Подсчитайте качество (долю правильно классифицированных объектов, accuracy) полученного классификатора на тестовой выборке.
y_pred = clf.predict(test_X)
from sklearn.metrics import accuracy_score
q1 = accuracy_score(test_y, y_pred)
q1

0.65500000000000003

In [102]:
# Нормализуйте обучающую и тестовую выборку с помощью класса StandardScaler.
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_X = scaler.fit_transform(train_X)
test_X = scaler.transform(test_X)

In [103]:
# Обучите персептрон на новой выборке. Найдите долю правильных ответов на тестовой выборке.
train_X[:5]

array([[ 0.00486706,  1.33499892],
       [-0.94332337,  1.23821147],
       [ 0.34190202, -1.46859294],
       [ 0.20812109,  0.33581337],
       [-1.2262455 , -0.73295007]])

In [104]:
clf = Perceptron(random_state=241)
clf.fit(train_X, train_y)

Perceptron(alpha=0.0001, class_weight=None, eta0=1.0, fit_intercept=True,
      n_iter=5, n_jobs=1, penalty=None, random_state=241, shuffle=True,
      verbose=0, warm_start=False)

In [105]:
y_pred = clf.predict(test_X)
q2 = accuracy_score(test_y, y_pred)
q2

0.84499999999999997

In [106]:
# Найдите разность между качеством на тестовой выборке после нормализации и качеством до нее. 
# Это число и будет ответом на задание.
q2 - q1

0.18999999999999995